.main {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
  }

  input{
    margin: 10px;
  }