

.main {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
  }

.cart {
    display: flex;
    justify-content: center;
}

.productInCart {
    display: flex;
    width: 500px;
    height: 300px;
}

.productImage {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

.checkout {
    margin-bottom: 20px;
}

@media (max-width: 520px) {
    .productInCart {
        border: 3px solid black;
        margin: 10px;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    .inputAmountOfItems {
        width: 30px;
    }

}