
.container {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
  }

.singleItem {
    display: flex;
    justify-content: center;
    
    
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.singleProductImage {
    max-height: 500px;
    max-width: 500px;
    object-fit: cover;
    margin-top: 50px;
}

.singleReview {
    margin: 10px;
    background-color: rgb(233, 254, 212);
}

.comment {
    margin: 10px;
}

.name {
    display: flex;
    justify-content: space-around;
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
}