
/*
.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
*/

.product {
    width: 200px;
    display: inline;
}

.product-img {
    max-width: 200px;
    object-fit: cover;
}